.composition {
  position: relative;

  &__photo {
    width: 55%;
    //box-shadow:[inset] (오른쪽위치) (아래위치) (블러) (색상);
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    /*
    outline	모든 outline 속성을 이용한 스타일을 한 줄에 설정할 수 있음.
    outline-style	아웃라인(outline)를 다양한 모양으로 설정함.
    outline-width	아웃라인(outline)의 너비를 설정함.
    outline-color	아웃라인(outline)의 색상을 설정함.
    outline-offset	테두리(border)와 아웃라인(outline) 사이의 여백을 설정함.
    */
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      /*
      outline 속성은 HTML 요소의 가장 바깥 부분을 둘러싸고 있는 아웃라인 부분의 스타일을 설정합니다.
      이 속성은 border 속성과 마찬가지로 style, width, color 속성을 가집니다.
      하지만 outline 속성은 border 속성과는 달리 HTML 요소의 전체 크기에는 포함되지 않습니다.
      HTML 요소의 높이나 너비는 outline의 두께에 전혀 영향을 받지 않습니다.
      */
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
}